@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #140c3d;
  color: red;
  width:100%;
  
}

html{
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.project-box {
  
  width: 15vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
  
}

.project-icon {
  animation: opacity-animation 1.5s ease;
}

.group:hover .project-box:hover {
  height: 52.5vh;
  width: 15vw;
  
  
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #252525;
    border-radius: 10px;
  }
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image:-webkit-gradient(linear,
                       left bottom,
                       left top,
                       color-stop(0.44, rgb(122,153,217)),
                       color-stop(0.72, rgb(73,125,189)),
                       color-stop(0.86, rgb(28,58,148)));
  }

section{ 
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
}